*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
*.history
*.Rproj.user
.Rproj.user
.Rproj.user/9924EFBE/console06/150F21FD
.Rproj.user/9924EFBE/console06/INDEX001
.Rproj.user/
.Rproj.user/**
*.DS_Store

# Data
*.csv

# Embeddings
Embedding_Build/Pretrained_Embeddings/*

# Python checkpoints
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
.idea/*
*/.idea/*